.app {
  > .app__title {
    background-color: orange;
    color: white;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  > .content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
